@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* Safelist classes to ensure they are always included */
.h-0 { height: 0px; }
.p-0 { padding: 0px; }
.p-6 { padding: 1.5rem; }
.mt-8 { margin-top: 2rem; }